<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:,">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Resultados</title>
</head>
<body>
    <div>
        <h1 class="hd_index">Resultados que puede visualizar:</h1>
        <a href="{{url_for('queryresults')}}"><button class="button_index" type="submit">Resultados de consultas</button></a>
        <a href="{{url_for('performanceresults')}}"><button class="button_index" type="submit">Resultados de rendimiento</button></a>
    </div>
</body>
</html>
