<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:,">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Resultados</title>
</head>
<body>
    <br>
    <h1 class="hd">No existe la carpeta resultados</h1>
    <div id="error_text">
        <p>La disposición de carpetas para la correcta visualización de los resultados debe ser la siguiente:
        <br>
        <br>
        TFG<br>
        ├── docker_db.sh<br>
        ├── process_data.sh<br>
        ├── requirements.txt<br>
        ├── visualization.sh<br>
        ├── data<br>
        ├── Flask_app<br>
        └── docker<br>
   ├── docker-compose.yml<br>
   ├── postgresdb<br>
   ├── scripts_python<br>
   ├── scripts_sql<br>
   └── <mark>results</mark><br>
    </p>
    </div>

</body>
</html>